/* ________________________________ */
canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#heroes {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    padding: 0;
    margin: 0;
    z-index: 1;
}

#heroes .text {
    position: absolute;
    color: white;
    /* font-size: 4rem; */
    left: 50%;
    top: 50%;
    text-transform: uppercase;
    transform: translate(-50%);
    text-align: center;
    width: 80%;
}

#heroes h1 {
    width: 100%;
    font-size: 3.5rem;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    animation: shine 3s ease-in-out infinite;
}

@keyframes shine {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }

    50% {
        text-shadow: 0 0 15px #fff, 0 0 25px #fff, 0 0 35px #fff, 0 0 45px #ff00de, 0 0 75px #ff00de, 0 0 85px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;

    }

    100% {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 110px #ff00de, 0 0 160px #ff00de;
    }
}

/* ---- stats.js ---- */



.js-count-particles {
    font-size: 1.1em;
}



#stats,
.count-particles {
    -webkit-user-select: none;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.text-gradient {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.text-secondary {
    --bs-text-opacity: 1;
    color: #E21E80 !important;
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.bg-gradient-primary-to-secondary {
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}

.container span {
    line-height: 1.2;
    font-size: calc(1.3rem + 0.6vw);

}