* {
    font-family: 'Comfortaa';
    font-size: 18px;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;

}

/* button onmouse down */


body {
    /* background-color: #F6648C; */


}

.container-fluid {}

.navbar {
    /* background: linear-gradient(to bottom, #000000, #035668); */
    background: transparent;
    /* border-bottom: 1px solid #ffffff; */
    /* box-shadow: 0 10px 30px #035668; */
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    color: transparent;
    /* height: auto; */
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar button {
    background-color: #fff;
    opacity: 0.6;
}



.navbar-brand {
    font-family: 'Comfortaa';
    font-size: 2vw;
    text-transform: uppercase;
    -webkit-text-stroke: 0.2vw #f2f2f2;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: 3px;
    animation: shine 5s linear infinite;


}

.navbar-brand::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    color: saddlebrown;
    -webkit-text-stroke: 0vw salmon;
    border-right: 4px solid rgb(75, 255, 255);
    overflow: hidden;
    animation: animate 6s linear infinite;

}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

.nav-item {
    margin: 0 5px;
}

ul li a {
    background: linear-gradient(to bottom, #022026, #035668);
    text-decoration: none;
    width: 100%;
    height: 50px;
    display: inline-block;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;

}

.active {
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);

}


@media screen and (min-width:768px) {
    ul li a:hover {

        background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    }

    ul li a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        transform: skewX(45deg) translateX(150px);
        transition: 0.5s;
    }

    ul li a:hover::before {
        transform: skewX(45deg) translateX(-150px);
    }

}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.9);
    }
}


#heroes {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    padding: 0;
    margin: 0;
    z-index: 1;
}

#heroes .text {
    position: absolute;
    color: white;
    /* font-size: 4rem; */
    left: 50%;
    top: 50%;
    text-transform: uppercase;
    transform: translate(-50%);
    text-align: center;
    width: 80%;
}

#heroes h1 {
    width: 100%;
    font-size: 3.5rem;
    /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de; */
    animation: shine 1s ease-in-out infinite;
}

@keyframes shine {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de, 0 0 45px #ff00de, 0 0 60px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }

    50% {
        text-shadow: 0 0 15px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 55px #ff00de, 0 0 75px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }

    0%,
    100% {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 110px #ff00de, 0 0 160px #ff00de;
    }
}

/* ++++++++++++++++++++++++ */
#art {
    /* background: linear-gradient(180deg, #000000 30%, #99b8bf, #e65252); */

    height: 100%;
    position: relative;
    margin: 0;
    z-index: 1;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #000000, #035668, #000000);

    margin-bottom: 0;
}




/* +++++++++++++++ */
.art h2 {
    text-align: center;
    /* background: linear-gradient(to bottom, #000000, #035668); */
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px aquamarine, 0 0 70px aquamarine, 0 0 80px aquamarine, 0 0 100px aquamarine, 0 0 150px aquamarine;
    color: whitesmoke;
    margin: 0;
    display: inline-block;
    padding: 80px 0;
    width: 100%;
}

/* ++++++++++++++++++++++++++ */


.about {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ffffff, rgb(163, 222, 222), #f2a5a5);
    /* background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%); */
    color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

/* #about {

    display: none;
}

.color {
    height: 100px;
    width: 100px;
    margin: 10px;
    position: absolute;
} */

.about img {
    height: 500px;
    padding: 10px;
}



.about .information {
    width: 50%;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding-left: 100px;
}

.information p {
    list-style-type: none;
    color: white;
    font-size: 1rem;
    line-height: 1.5;

}

#text::first-letter {
    font-size: 78px;
    line-height: 0.9;
    float: left;
    margin-right: 8px;
}


.profile {
    position: relative;
    height: 30vw;
    width: 35vw;
    border-radius: 100% 100% 10px 10px;
    border: 2px solid #ffffff;
    margin-top: 5vw;
    max-height: 30rem;
    max-width: 30rem;


}

.profile img {
    padding: 0;
    height: 37vw;
    max-height: 35rem;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 51%;
    transform: translateX(-50%);
    overflow: clip;
}


/* __________________________ */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 14px;
    font-family: 'Comfortaa';
    height: 100px;
    width: 100%;
    border: unset;


}

.social a {
    color: #ffffff;
    text-decoration: none;
}

.social a:hover {
    color: salmon;
    text-decoration: none;
}

.social i {
    font-size: 2rem;
    margin: 0 10px;
}

/* _______________________p */
#about,
#art,
#resume,
#projects,
#contact {
    display: none;
}


#about.show {
    display: flex;
}

#art.show,
#heroes.show,
#resume.show,
#projects.show,
#contact.show {
    display: block;
}

.hidden {
    display: none;
}

.navbar-nav {
    font-size: 1rem;
    /* default font size */
}

#contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contact .card {
    width: 58rem;
}



@media (max-width: 768px) {
    body {}

    #contact {
        width: 20rem;
    }

    #contact .card {
        width: 100%;
    }

    .navbar-nav {
        font-size: 0.875rem;
        /* font size for small screens */
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1;
        border: 1px solid white !important;
        border-radius: 0.2rem;
    }

    #navbarText {
        margin: 0;
    }

    .nav-item {
        text-align: center;
        border: 1px solid #ffffff;
        margin: 0;
        border-radius: 2px;
    }

    .nav-link {
        border: none;
        border-radius: unset;
    }

    #heroes .text {
        font-size: 1.5rem;
        transform: translate(-50%, -50%);

    }

    #heroes h1 {
        font-size: 2.5rem;
    }

    /* ++++++++++++++++++++++++++++++++++ */
    .about {
        flex-direction: column;
        padding: 30px;
    }

    .about>.information {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .about>.information ul {
        margin: 0;
        padding: 0;
    }

    #art h2 {
        padding: 50px;
        font-size: 1.1rem;
    }

    #resume .btn {
        font-size: 0.6rem;
        text-align: center;

    }
}